body {
  background-color: rgb(183, 173, 230);
  background-position: center top;
  background-size: 100% auto;
  background-repeat: repeat-x repeat-y;
  color: #221166;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 5px 10px 0 #0c00f5;
  margin: 8px;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20x;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 70px;
  margin-left: 70px;
  background: #cdcaff;
}

.about-section {
  padding: 50px;
  text-align: center;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  font-style: italic;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.name {
  font-size: 25px;
  font-family: Marker Felt;
}

.margin {
  margin-left: 5%;
  margin-right: 5%;
  font-style: italic;
}
.topback a {
  color: darkblue;
  text-decoration: underline;
}
