/* White Border */
html {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman";
  font-size: 20px;
  border-color: none;
}

.ALP {
  font-family: "Marker Felt";
  font-weight: bold;
}

body {
  background-image: linear-gradient(
    #9988cc,
    #8877bb,
    #664499,
    #221166,
    #000022
  );
  background-position: center top;
  background-size: auto;
  background-repeat: repeat-x repeat-y;
  color: #221166;
}

.topback {
  border-width: 3px;
  border-style: solid;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 10px;
  padding-right: 3%;
  padding-bottom: 5px;
  padding-left: 3%;
  background: #cdcaff;
  background-origin: padding-box;
  background-position: center;
}
.topback a {
  color: darkblue;
  text-decoration: underline;
}
